RewriteEngine on
DirectoryIndex login.php

AddDefaultCharset UTF-8

order deny,allow
#deny from all
#allow from 14.161.30.49
#allow from 14.161.45.38
#allow from 116.102.135.167
#allow from 115.79.144.24
#allow from 115.75
#allow from 118.68